<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
        
        <!-- tailwind -->
        <script src="https://cdn.tailwindcss.com"></script>
        
        <link rel="stylesheet" href="/css/app.css">

        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <script src="https://kit.fontawesome.com/f0a6b88826.js" crossorigin="anonymous"></script>
        
        <link rel="icon" type="image/png" href="./img/NoBG.png">
        
        <title>CosmiColorz</title>
    </head>
    <body class="">
        <nav class="shadow-lg">
            <div class="nav-left flex justify-between p-4">
                <div class="flex items-center justify-center">
                    <input type="search" class="rounded-full px-4 h-4/6 mr-4 w-full" name="search" placeholder="search">
                    <a href="#" class="nav-icon"><i class="fa-solid fa-magnifying-glass text-xl"></i></a>
                </div>
                <div class="flex items-center px-2">
                    <img class="w-16 mb-2" src="./img/NoBG.png" alt="CosmiColorz">
                    <a href="/" class="">
                        <h2 class="logoText text-center text-3xl font-bold px-2 transition ease-in-out text-fuchsia-900 hover:text-violet-900 duration-150">CosmiColorz</h2>
                    </a>
                </div>
                <div class="flex items-center justify-center text-xl">
                    <ul class="menu flex">
                        
                            <!-- <li class="ml-6">
                                <a href="/login" class="nav-icon"><i class="fa-solid fa-user"></i></a>
                            </li> -->
                        
                            <li class="ml-6">
                                <a href="#" class="nav-icon"><i class="fa-solid fa-cart-shopping"></i></a>
                            </li>
                        
                            <!-- <li class="ml-6">
                                <a href="#" class="nav-icon"><i class="fa-solid fa-heart"></i></a>
                            </li>
                        
                            <li class="ml-6">
                                <a href="#" class="nav-icon-logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                            </li> -->
                    </ul>
                </div>
            </div>
            <div class="nav-right">
                <ul class="menu flex justify-evenly align-center text-center">
                    <li class="menu-li w-full p-3"><a href="#" class="">Home</a></li>
                    <!-- <li class="w-full p-3"><a href="#">List</a></li> -->
                    <li class="menu-li w-full p-3 category-dd">Category
                        <ul class="category-content drop-shadow-lg mt-3 p-4 rounded z-50">
                            <li class="my-1">
                                <a href="#" class="px-2 py-1">TV Shows</a>
                            </li>
                            <li class="my-1">
                                <a href="#" class="px-2 py-1">TV Shows</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="w-full p-3"><a href="#">Sub</a></li> -->
                </ul>
            </div>
        </nav>

        <%- body %>        
    </body>
</html>