<section class="my-10">
    <div class="h-80 bg-[url('https://wallpaperaccess.com/full/775115.jpg')] bg-cover shadow-md flex justify-center items-center">
        <div class="backdrop-blur bg-opacity-70 bg-gray-200 rounded-3xl shadow-lg transition ease-in-out w-1/2 text-center py-2">
            <h1 class="cat-name text-8xl bg-clip-text text-transparent bg-gradient-to-r from-emerald-500 to-cyan-600 font-bold">TV Show</h1>
        </div>
    </div>

    <section class="my-4 py-4 disp-prod">

    
        <h4 class="text-xl mb-8 font-bold">Products:</h4>
        
        <!-- product grid -->
        <div class="products-container grid grid-cols-5 place-items-center gap-y-4">
    
            <div class="product-card bg-white w-64 border transition ease-in-out hover:shadow-lg rounded-xl hover:border-gray-300">
                <img class="h-40 mb-4 mx-auto rounded-lg" src="https://dotbadges.com/wp-content/uploads/2021/05/Stickerview1-152.webp" alt="">
                <div class="rounded-lg py-2">
                    <div class="text-center">
                        <h2 class="mb-2 text-lg">Sticker</h2>
                        <p class="text-sm px-2 text-gray-400">Good Sticker</p>
                    </div>
                    <div class="flex items-center justify-around mt-4">
                        <span class="text-lg font-bold">₹123</span>  
                        <button class="add-to-bag py-1 px-4 rounded-full flex items-center font-bold transition ease-in-out border-2 hover:border-black duration-150 ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product-card bg-white w-64 border transition ease-in-out hover:shadow-lg rounded-xl hover:border-gray-300">
                <img class="h-40 mb-4 mx-auto rounded-lg" src="https://dotbadges.com/wp-content/uploads/2021/05/Stickerview1-152.webp" alt="">
                <div class="rounded-lg py-2">
                    <div class="text-center">
                        <h2 class="mb-2 text-lg">Sticker</h2>
                        <p class="text-sm px-2 text-gray-400">Good Sticker</p>
                    </div>
                    <div class="flex items-center justify-around mt-4">
                        <span class="text-lg font-bold">₹123</span>  
                        <button class="add-to-bag py-1 px-4 rounded-full flex items-center font-bold transition ease-in-out border-2 hover:border-black duration-150 ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product-card bg-white w-64 border transition ease-in-out hover:shadow-lg rounded-xl hover:border-gray-300">
                <img class="h-40 mb-4 mx-auto rounded-lg" src="https://dotbadges.com/wp-content/uploads/2021/05/Stickerview1-152.webp" alt="">
                <div class="rounded-lg py-2">
                    <div class="text-center">
                        <h2 class="mb-2 text-lg">Sticker</h2>
                        <p class="text-sm px-2 text-gray-400">Good Sticker</p>
                    </div>
                    <div class="flex items-center justify-around mt-4">
                        <span class="text-lg font-bold">₹123</span>  
                        <button class="add-to-bag py-1 px-4 rounded-full flex items-center font-bold transition ease-in-out border-2 hover:border-black duration-150 ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product-card bg-white w-64 border transition ease-in-out hover:shadow-lg rounded-xl hover:border-gray-300">
                <img class="h-40 mb-4 mx-auto rounded-lg" src="https://dotbadges.com/wp-content/uploads/2021/05/Stickerview1-152.webp" alt="">
                <div class="rounded-lg py-2">
                    <div class="text-center">
                        <h2 class="mb-2 text-lg">Sticker</h2>
                        <p class="text-sm px-2 text-gray-400">Good Sticker</p>
                    </div>
                    <div class="flex items-center justify-around mt-4">
                        <span class="text-lg font-bold">₹123</span>  
                        <button class="add-to-bag py-1 px-4 rounded-full flex items-center font-bold transition ease-in-out border-2 hover:border-black duration-150 ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product-card bg-white w-64 border transition ease-in-out hover:shadow-lg rounded-xl hover:border-gray-300">
                <img class="h-40 mb-4 mx-auto rounded-lg" src="https://dotbadges.com/wp-content/uploads/2021/05/Stickerview1-152.webp" alt="">
                <div class="rounded-lg py-2">
                    <div class="text-center">
                        <h2 class="mb-2 text-lg">Sticker</h2>
                        <p class="text-sm px-2 text-gray-400">Good Sticker</p>
                    </div>
                    <div class="flex items-center justify-around mt-4">
                        <span class="text-lg font-bold">₹123</span>  
                        <button class="add-to-bag py-1 px-4 rounded-full flex items-center font-bold transition ease-in-out border-2 hover:border-black duration-150 ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product-card bg-white w-64 border transition ease-in-out hover:shadow-lg rounded-xl hover:border-gray-300">
                <img class="h-40 mb-4 mx-auto rounded-lg" src="https://dotbadges.com/wp-content/uploads/2021/05/Stickerview1-152.webp" alt="">
                <div class="rounded-lg py-2">
                    <div class="text-center">
                        <h2 class="mb-2 text-lg">Sticker</h2>
                        <p class="text-sm px-2 text-gray-400">Good Sticker</p>
                    </div>
                    <div class="flex items-center justify-around mt-4">
                        <span class="text-lg font-bold">₹123</span>  
                        <button class="add-to-bag py-1 px-4 rounded-full flex items-center font-bold transition ease-in-out border-2 hover:border-black duration-150 ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product-card bg-white w-64 border transition ease-in-out hover:shadow-lg rounded-xl hover:border-gray-300">
                <img class="h-40 mb-4 mx-auto rounded-lg" src="https://dotbadges.com/wp-content/uploads/2021/05/Stickerview1-152.webp" alt="">
                <div class="rounded-lg py-2">
                    <div class="text-center">
                        <h2 class="mb-2 text-lg">Sticker</h2>
                        <p class="text-sm px-2 text-gray-400">Good Sticker</p>
                    </div>
                    <div class="flex items-center justify-around mt-4">
                        <span class="text-lg font-bold">₹123</span>  
                        <button class="add-to-bag py-1 px-4 rounded-full flex items-center font-bold transition ease-in-out border-2 hover:border-black duration-150 ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product-card bg-white w-64 border transition ease-in-out hover:shadow-lg rounded-xl hover:border-gray-300">
                <img class="h-40 mb-4 mx-auto rounded-lg" src="https://dotbadges.com/wp-content/uploads/2021/05/Stickerview1-152.webp" alt="">
                <div class="rounded-lg py-2">
                    <div class="text-center">
                        <h2 class="mb-2 text-lg">Sticker</h2>
                        <p class="text-sm px-2 text-gray-400">Good Sticker</p>
                    </div>
                    <div class="flex items-center justify-around mt-4">
                        <span class="text-lg font-bold">₹123</span>  
                        <button class="add-to-bag py-1 px-4 rounded-full flex items-center font-bold transition ease-in-out border-2 hover:border-black duration-150 ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
    
        </div>

    </section>
    
    <div class="bg-indigo-700 px-24 py-8">
        <h4 class="text-xl mb-8 font-bold text-white ">You Might Like:</h4>
        
        <div class="products-container grid grid-cols-5 place-items-center gap-y-4">
    
            <div class="product-card bg-white w-64 border transition ease-in-out hover:shadow-lg hover:shadow-gray-200/40 rounded-xl hover:border-gray-500">
                <img class="h-40 mb-4 mx-auto rounded-lg" src="https://dotbadges.com/wp-content/uploads/2021/05/Stickerview1-152.webp" alt="">
                <div class="rounded-lg py-2">
                    <div class="text-center">
                        <h2 class="mb-2 text-lg">Sticker</h2>
                        <p class="text-sm px-2 text-gray-400">Good Sticker</p>
                    </div>
                    <div class="flex items-center justify-around mt-4">
                        <span class="text-lg font-bold">₹123</span>  
                        <button class="add-to-bag py-1 px-4 rounded-full flex items-center font-bold transition ease-in-out border-2 hover:border-black duration-150 ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product-card bg-white w-64 border transition ease-in-out hover:shadow-lg hover:shadow-gray-200/40 rounded-xl hover:border-gray-500">
                <img class="h-40 mb-4 mx-auto rounded-lg" src="https://dotbadges.com/wp-content/uploads/2021/05/Stickerview1-152.webp" alt="">
                <div class="rounded-lg py-2">
                    <div class="text-center">
                        <h2 class="mb-2 text-lg">Sticker</h2>
                        <p class="text-sm px-2 text-gray-400">Good Sticker</p>
                    </div>
                    <div class="flex items-center justify-around mt-4">
                        <span class="text-lg font-bold">₹123</span>  
                        <button class="add-to-bag py-1 px-4 rounded-full flex items-center font-bold transition ease-in-out border-2 hover:border-black duration-150 ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="product-card bg-white w-64 border transition ease-in-out hover:shadow-lg hover:shadow-gray-200/40 rounded-xl hover:border-gray-500">
                <img class="h-40 mb-4 mx-auto rounded-lg" src="https://dotbadges.com/wp-content/uploads/2021/05/Stickerview1-152.webp" alt="">
                <div class="rounded-lg py-2">
                    <div class="text-center">
                        <h2 class="mb-2 text-lg">Sticker</h2>
                        <p class="text-sm px-2 text-gray-400">Good Sticker</p>
                    </div>
                    <div class="flex items-center justify-around mt-4">
                        <span class="text-lg font-bold">₹123</span>  
                        <button class="add-to-bag py-1 px-4 rounded-full flex items-center font-bold transition ease-in-out border-2 hover:border-black duration-150 ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

