<div class="ratio ratio-16x9 border">
    <iframe src="/themes/<%=name%>/index.html" title="ifram_theme" id="themeShow" csp=""></iframe>
</div>
<div class="m-4 d-flex">
    <p>Primary Color:</p>
    <input type="color" class="mx-2" data-color="" name="primary" id="primary">
</div>