<div class="ratio ratio-16x9 border">
    <iframe src="/themes/<%=name%>/index.html" title="ifram_theme" id="themeShow" csp=""></iframe>
</div>
<div class="m-4 d-flex">
    <p>Primary Color:</p>
    <input type="color" class="mx-2 form-control-color rounded" data-color="" name="primary" id="primary">
    <p>Secondary Color:</p>
    <input type="color" class="mx-2 form-control-color rounded" data-color="" name="secondary" id="secondary">
</div>
<button id="applyButton" class="btn btn-outline-primary ms-4 mb-2">Apply</button>