$background: #F5F5F5;
$primaryfirst: #FF6B6B;
$primarysecond: #FFD93D;
$secondaryfirst: #6BCB77;
$secondarysecond: #4D96FF;

$list: $primaryfirst, $primarysecond, $secondaryfirst, $secondarysecond;
$smooth: all 0.15s ease-in;